---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<div class="container">
			<div class="grid-wrapper__3">
				<Header title={SITE_TITLE} />

				<main>

				<section class="home-hero">
					<h1>Thanks for being curoius</h1>
					<p>
						My hope for this small space on the internet is to be a moment of inspiration, reflection, and curiosity.
					</p>
					<p>
						A lot of topics will vary but will dwindle around, design, creativity, freelancing, startups. 
					</p>
					<p>So if you're interested in that; I hope you stay a while and get cozy with these pixels.</p>
				</section>
		
					<section class="post-list">
						<h2>Recent thoughts</h2>
						<h3>Ocotober</h3>
						<ul>
							{posts.map((post) => (
								<li>
									<a href={`/blog/${post.slug}`}>
									<h4>{post.data.title}</h4>
									</a>
								</li>
								))
							}
						</ul>
					</section>
				</main>
			</div>
		</div>
		<Footer />
	</body>
</html>

<style>
	.post-list {
		padding: 4em 0;
	}
</style>
